{{template "header"}}			   

<div class="row">
	<div class="col-lg-4">
		<div class="count-card navy-bg p-lg text-center">
		<div class="m-b-md">
		<div class="card-body">
			<h1 class="m-xs">42</h1>
			<h2><span class="fa fa-cube fa-1x"></span>Blocks</h2>	
		</div>
		</div>
		</div>
	</div>
	
	<div class="col-lg-4">
		<div class="count-card red-bg p-lg text-center">
		<div class="m-b-md">
		<div class="card-body">
			<h1 class="m-xs">46</h1>
			<h2><span class="fa fa-list-alt fa-1x">Transaction</span></h2>
		</div>
		</div>
		</div>
	</div>
</div>
			  
<div class="row">
	<div class="col-lg-4">
		<div class="count-card lazur-bg p-lg text-center">
		<div class="m-b-md">
  	<div class="card-body">
  		<h1 class="m-xs">4</h1>
  		<h2><span class="fa fa-users fa-1x"></span>Nodes</h2>	
  	</div>
  	</div>
  	</div>
  </div>
  <div class="col-lg-4">
  	<div class="count-card yellow-bg p-lg text-center">
  	<div class="m-b-md">
  	<div class="card-body">
  		<h1 class="m-xs">TAB</h1>
  		<h2><span class="fa fa-handshake-o fa-1x">Smart Contracts</span></h2>
  	</div>
  	</div>
  	</div>
  </div>
</div>
					
<div class="footer">
	<div class="pull-right">
		<strong>block</strong>block.
	</div>
	<div>
		<strong>Copyright</strong> Example Company &copy; 2016-2018
	</div>
</div>
	</div>	
</div>
					
	<!-- Mainly scripts -->
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Flot -->
	<script src="/static/js/plugins/flot/jquery.flot.js"></script>
	<script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
	<script src="/static/js/plugins/flot/jquery.flot.pie.js"></script>
	<script src="/static/js/plugins/flot/jquery.flot.time.js"></script>

	<!-- Custom and plugin javascript -->
	<script src="/static/js/inspinia.js"></script>
	<script src="/static/js/plugins/pace/pace.min.js"></script>
	<script src="/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Flot demo data -->
	<script src="/static/js/demo/flot-demo.js"></script>

	<script>
		$(document).ready(function(){
			$("#sidebar-menu-DASHBOARD").addClass("active")
		});	
	</script>
   
</body>
</html>
    
				

			  
			   
			   
			   
			   
			   




